<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/new-password" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <input hidden value="<%= resetToken %>" name="resetToken" />
      <input hidden value="<%= user_id %>" name="user_id" />
      <div>
        <input type="password" name="password" placeholder="enter password" />
      </div>
      <div>
        <input
          type="comfirmpassword"
          name="comfirmpassword"
          placeholder="enter comfirmpassword"
        />
      </div>
      <button>Comfirm password</button>
    </form>
  </body>
</html>
