<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <h1>Add new Blog</h1>
    <form action="/admin" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div>
        <label for="">title</label>
        <input type="text" name="title" id="title" />
      </div>
      <br />
      <div>
        <label for="">description</label>
        <textarea type="text" name="desc" id="desc"></textarea>
      </div>
      <br />
      <div>
        <label for="">image</label>
        <input type="text" name="photo" id="photo" />
      </div>
      <br />
      <input type="submit" value="add" />
    </form>
  </body>
</html>
